* {
      box-sizing: border-box;
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/Helvetica.ttf);
}

::selection {
  background: #0b6cff;
}

.nav-wrapper a{
  border-bottom: 2px solid black;
}

.nav-wrapper a:hover{
  color: #2711f4;
  border-bottom: 4px solid #2711f4;
  transition: width 2s;
}


html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      cursor: none;

}

a{
  cursor: none !important;
  text-decoration: none !important;
}

.cursor{
  position: absolute;
  width: 15px;
  height: 15px;
  top: 70%;
  left: 50%;
  border: 3px solid blue;
  border-radius: 50%;
}

body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      font-family: Poppins;
      font-weight: 400;
      background-position: center;
      background-size: cover;
}

.contactBg{
  z-index: -1;
  position: relative;
  bottom: 15px;
  height: 100%;
  margin: 0px;
  background-image: url(../images/contact_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formContact{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica;
}

.nav-container{
  position: relative;
  margin-bottom: 75px;
}

.progress {
  width: 100%;
  position: fixed;
  top: 0;
  height: 4px;
  background: #2711f4;
}

.cursor {
	position: absolute;
	background-color: #2711f4;
	width: 7px;
	height: 7px;
	border-radius: 100%;
	user-select: none;
	pointer-events: none;
  z-index: 2;
}

.follower {
	position: absolute;
	background-color: rgba(191, 191, 191, 0.63);
	width: 20px;
	height: 20px;
	border-radius: 100%;
	z-index: 1;
	transition: 0.6s cubic-bezier(0.8, -1.3, 0.3, 2.5) transform, 0.2s cubic-bezier(0.8, -0.3, 0.3, 1.5) opacity;
	user-select: none;
	pointer-events: none;
  z-index: 1;

}

.navActive{
  color: #2711f4;
  border-bottom: 4px solid #2711f4 !important;
}

.logoanim{
  animation-name: logo;
  animation-duration: 2s;
}

@keyframes logo {
  0%{
    color: black;
  }
  30%{
    color: black;
  }
  35%{
    color: #2711f4;
  }
  40%{
    color: black;
  }
  45%{
    color: #2711f4;
  }
  50%{
    color: black;
  }
  55%{
    color: #2711f4;
  }
  60%{
    color: black;
  }
  65%{
    color: #2711f4;
  }
  70%{
    color: black;
  }
  75%{
    color: #2711f4;
  }
  80%{
    color: black;
  }

}

.follower.active {
	opacity: 0.7;
	transform: scale(2);
}

a{
  cursor: none
}

nav {
      padding: 8px;
}

.logo {
  font-family: Helvetica;
      float: left;
      padding: 8px;
      margin-left: 16px;
      margin-top: 8px;
}

.logo a {
      color: #000;
      font-weight: 700;
      font-size: 25px;
      letter-spacing: 0px;
      text-decoration: none;
}

nav ul {
      float: right;
}

nav ul li {
      display: inline-block;
      float: left;
}

nav ul li:not(:first-child) {
      margin-left: 48px;
}

nav ul li:last-child {
      margin-right: 24px;
}

nav ul li a {
      font-family: Helvetica;
      display: inline-block;
      outline: none;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 15px;
      letter-spacing: 1.2px;
      font-weight: 600;
}

@media screen and (max-width: 864px) {
      .logo {
            padding: 0;
      }

      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }

      .nav-wrapper ul li {
        background-color: blue;
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
      }

      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }

      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }

      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }

      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }

      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }

      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }

      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }
}

#nav:checked + .nav-btn {
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: #000;
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
}
